.block
  .content
    %h2.title Projects
    .inner
      Searching for "#{params[:q]}"
      - if !@projects.empty?
        .inner= render :partial => "projects/list"
        = will_paginate(@projects)
      - else
        %p There are no projects to show yet.
    = will_paginate @projects