#block-forms.block
  .content
    %h2.title Editing project
    .inner= render @project
%ul
  %li= link_to 'Show', @project
  %li= link_to 'Destroy', @project, :confirm => 'Are you sure?', :method => :delete