.block
  .content
    %h2.title Projects
    - if !@projects.empty?
      .inner= render :partial => "list", :collection => @projects
      = will_paginate(@projects)
    - else
      %p There are no projects to show yet.


- content_for :sidebar do
  .block
    - if current_user
      = link_to 'New project', new_project_path

  .block
    .sidebar-block
      %h4 Tags
    .inner
      %ul.navigation= tag_cloud

